canvas 
{ 
	border: 10px solid white;
	background-color: black;
	border-radius: 15px;
	box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.5), 0px 0px 5px 5px #400000;

}

body 
{ 
	background-color: #B4C9D6;
} 

h1 
{ 
	font: 65px/75px Ruthie,Georgia, serif;
	color: rgb(200,10,10);
	text-shadow:  1px 1px rgba(255,255,255,0.8);
	margin-bottom: 30px;
	margin-top: 10px;
}

button 
{
	font: 12px/20px Cutive,Junge,Georgia;
	background-color: rgba(255,255,255,1);
	border-radius: 10px 0px;
}

button:active
{
	/*background-color: rgba(255,255,255,0.5);*/
}

button:disabled 
{
	background-color: rgba(255,255,255,0.1);
	color: rgba(255,255,255,0.5);
}

div 
{
	font: bold 20px Junge,Georgia;
	padding: 15px 0 5px 0;
}	

h3
{
	color: black;
	padding: none;
	font-weight: bold;
}


footer
{
	font: bold 8px Cutive,Junge,Georgia;
	color: rgba(0,0,0,0.8);
	text-shadow:  1px 1px rgba(255,255,255,0.8);
}


input
{
	background-color: rgba(255,255,255,0.7);
	color: black;
	font-weight: bold;
	border-radius: 5px;
	width: 120px;
}

input:disabled
{
	background-color: rgba(255,255,255,0.2);
	color: gray;
	border-radius: 5px;
	width: 120px;
}

::-webkit-input-placeholder  
{
	font:italic 13px Junge,Georgia;
	color:#393954;
}

input:-moz-placeholder {
	font:italic 13px Junge,Georgia;
	color:#393954;
}

#startb
{
	margin-top: 10px;
}

